<h1>Ae Fones</h1>
<h3>Bem-vindo a sua calculadora personalizada, mermão</h3>


<p>Veja a lista de Ar Condicionados e consulte os detalhes, edite ou exclua</p>

<%= link_to "Lista de ar condicionados", air_conditionings_path, class: "btn btn-primary" %>